/* Carrinho de compras */
#contador-carrinho {
  position: absolute;
  background-color: #2db2ab;
  color: #fff;
  font-size: 14px;
  padding: 3px;
  border-radius: 50%;
  top: 0;
  left: 33px;
  text-align: center;
  line-height: 1rem;
  min-width: 16px;
  height: 20px;
  display: none;
}

.icons-section,
.barra-icon-carrinho {
  position: relative;
}

/* Tag de desconto nos produtos em saldo */
.product-card {
  position: relative;
}

.tag-saldo {
  background-color: #2db2ab;
  display: inline-block;
  padding: 6px 10px 6px 8px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 30px;
  right: 0;
}

.preco-desconto {
  color: #ff0000;
}

.preco-normal {
  text-decoration: line-through;
}

.conteudo .btn {
  font-size: 0.9rem;
}

/* Estilo para o cabeçalho do carrinho */
.cart-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
}

.cart-title {
  margin: 0 19px;
}

/* Estilo geral para os itens no carrinho */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Estilo para a imagem do produto */
.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.remove-item img {
  border: none;
}

/* Informações do produto */
.cart-item > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

/* Estilo para os textos do carrinho */
.cart-item div > div {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

/* Título do produto */
.cart-item div > div:first-child {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

/* Espaçamento entre os itens */
.cart-item:not(:last-child) {
  margin-bottom: 10px;
}

/* Estilo para o valor */
.cart-item div > div:last-child {
  font-size: 14px;
  font-weight: bold;
}

/* Rodapé do offcanvas não interfere com a rolagem dos produtos */
.offcanvas-body {
  overflow-y: auto; /* Permite rolagem apenas no corpo */
  padding-bottom: 80px; /* Espaço para o rodapé */
}

.offcanvas-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.icon-carrinho {
  padding: 10px 0 !important;
}
