/* Telas menores */

@media (max-width: 1000px) {
  .form-busca {
    flex-grow: 0;
    width: 100%;
  }

  /* Telas pequenas */
  @media (max-width: 800px) {
    .form-busca {
      margin: 10px 0;
      max-width: 100%;
    }

    .icons-section {
      margin-top: 10px;
    }

    .icons-section .icon {
      width: 24px;
      height: 24px;
    }

    .banner-home img {
      width: 100%;
      height: auto;
    }

    #box .card-img-top {
      height: auto;
    }
  }

  /* Mobile */
  @media (max-width: 600px) {
    .form-busca {
      max-width: 80% !important;
      flex-grow: 0;
      margin: 0 !important;
    }
    .logo {
      margin-right: 0;
    }

    .icons-section {
      margin-top: 5px;
      justify-content: center;
    }

    .icons-section .icon {
      width: 20px;
      height: 20px;
    }
  }

  /* Ajuste padrão para a barra de busca */
  .form-busca {
    flex-grow: 1;
  }

  /* Alinha os ícones abaixo da barra de busca */
  .icons-section {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  /* Ajusta a exibição da barra de navegação */
  .navbar-collapse {
    flex-direction: column;
  }
}
