@media (max-width: 1000px) {
  .form-busca {
    flex-grow: 0;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .form-busca {
    flex-grow: 1;
  }

  /* Alinha os ícones abaixo da barra de busca */
  .icons-section {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  /* Ajusta a exibição da barra de navegação */
  .navbar-collapse {
    flex-direction: column;
  }

  .form-busca {
    margin: 10px 0;
    max-width: 100%;
  }

  .icons-section {
    margin-top: 10px;
  }

  .icons-section .icon {
    width: 24px;
    height: 24px;
  }

  .banner-home img {
    width: 100%;
    height: auto;
  }

  #box .card-img-top {
    height: auto;
  }

  .footer-container .selos {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-evenly;
    gap: 100px !important;
  }

  .footer-container .selos img {
    margin-top: 0 !important;
  }
}

/* Telas menores */
@media (max-width: 770px) {
  .form-busca {
    flex-grow: 0;
    margin: 0 !important;
  }
  .logo {
    margin-right: 0;
  }

  .icons-section {
    margin-top: 5px;
    justify-content: center;
  }

  .icons-section .icon {
    width: 20px;
    height: 20px;
  }

  .footer-container .selos {
    gap: 50px;
  }

  .sobre-conteudo {
    flex-direction: column; /* Imagem e texto empilhados em telas pequenas */
    align-items: center;
  }

  .sobre-imagem {
    max-width: 100%;
  }

  .sobre-texto {
    text-align: left;
  }

  .pagamento-conteudo {
    grid-template-columns: 1fr !important;
  }
}
