h2 {
  padding: 20px 0;
}

.font-1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* Carrinho de compras */
#contador-carrinho {
  position: absolute;
  background-color: #2db2ab;
  color: #fff;
  font-size: 14px;
  padding: 2px 3px;
  border-radius: 50%;
  top: -3px;
  left: 14px;
  text-align: center;
  line-height: 1rem;
  min-width: 18px;
  height: 20px;
  display: inline-block;
}

.barra-carrinho {
  position: relative;
}

/* Tag de desconto nos produtos em saldo */
.product-card {
  position: relative;
}

.tag-saldo {
  background-color: #2db2ab;
  display: inline-block;
  padding: 6px 10px 6px 8px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 28px;
  right: 0;
}

.preco-desconto {
  color: #ff0000;
}

.preco-normal {
  text-decoration: line-through;
}

/* Footer */
.footer-redes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 10px;
}

.footer-pagamento ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 10px;
}

.footer-pagamento ul .icon-pag {
  width: 32px;
  height: auto;
}

.footer-pagamento ul .icon-pag-b img {
  display: block;
  width: 65px;
  height: 32px;
}

.footer-clube button {
  margin-top: 20px;
  width: 100%;
}

#email {
  margin-top: 15px;
}
.banner-home {
  padding: 20px 0;
}
